.buttonNavBar { 
    background: turquoise;
    color: white;
    outline: none;
    font-weight: bold;
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 10px;
    transition: 1s;
    border: none;
}

.buttonNavBar:hover { 
    filter: drop-shadow(0 5px 5px turquoise);
}

.navBar { 
    display: flex;
    justify-content: space-around;
}